/* vars */
html {
    --dark-color: #333;
    --light-color: #f4f4f4;
    --border-color: #ddd;
    --bg-color: #fafafa;
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

/* setup */
html {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background: var(--bg-color);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* searchbar */
.searchbar {
    text-align: center;
    width: 50%;
    margin: 2rem auto;
    position: relative;
}

.searchbar input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 10px 45px;
    font-size: 1.1rem;
    border: 1px solid var(--border-color);
    background: var(--light-color);
    color: var(--dark-color);
    outline: none;
    border-radius: 20px;
    transition: background 0.4s ease;
}

.searchbar input:hover {
    background: #dedede;
}

.searchbar i {
    position: absolute;
    top: 33%;
    left: 20px;
    color: #aaa;
    pointer-events: none;
}

/* images */
#image-list {
    margin: 3rem 6rem;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}

#image-list .image-item {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

#image-list .image-item img {
    max-width: 100%;
    border-radius: 5px;
}

#image-list .image-info {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: #fafafabb;
    width: 100%;
    padding: 1rem;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(70px);
    transition: transform 0.5s ease;
}

#image-list .image-info div {
    display: flex;
    align-items: center;
}

#image-list .image-info span {
    margin-left: 10px;
}

#image-list .image-info img {
    width: 32px;
    height: 32px;
}

/* display info on hover */
#image-list .image-item .display {
    transform: translateY(0px);
}

/* footer */
#disclaimer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background: none;
    pointer-events: none;
    padding: 2rem;
}

#disclaimer-text {
    pointer-events: all;
    padding: 10px;
    background: #3339;
    border-radius: 30px;
}

/* modal */
#modal-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: #333a;
    width: 100vw;
    height: 100vh;
}

#modal-wrapper .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.8rem 2rem;
    border: none;
    background: none;
    color: #f4f4f4;
    cursor: pointer;
    outline: none;
    transition: color 0.5s;
}

#modal-wrapper .close-button:hover {
    color: #dedede;
}

#modal-content {
    max-height: 90vh;
    max-width: 90vw;
}

#modal-content img {
    max-height: 90vh;
    max-width: 90vw;
}
